:root {
  --card_width: 250px;
  --row_increment: 150px;
  --card_border_radius: 3px;
}

.app {
  color: #fff;
  margin: auto;
  padding: 15px;
  max-width: 1040px;

  a {
    color: #61dafb;
  }

  &-header {
    text-align: center;

    img {
      max-width: 100%;
      cursor: pointer;
    }

    &-search {
      position: relative;

      input {
        padding: 10px 20px;
        margin: 10px 0;
        width: 100%;
        font-size: 1.5em;
        border-radius: 3px;
        border: 0;
      }

      img {
        position: absolute;
        right: 0px;
        top: 10px;
        padding: 10px;
        background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%) repeat scroll 0% 0%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &-main {
    margin-top: 30px;

    .gifs {
      display: inline-block;
      column-count: 3;
      column-gap: 10px;

      .gif {
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }

  &-details {
    &-link {
      text-align: center;
      background-color: white;
      margin-bottom: 30px;
      
      a {
        font-size: 22px;
        display: block;
        padding: 20px;
        text-decoration: none;
        width: 100%;
        transition: .2s;

        &:hover {
          background: #61dafb;
          color: #FFF;
        }
      }
    }
    &-gif {
      picture img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

  }

  &-footer {
    text-align: center;
    margin-bottom: 20px;
  }
}
